sudo: false
language: node_js
node_js:
- '0.11'
cache:
  directories:
  - node_modules
before_install:
- psql -c 'CREATE DATABASE travis;' -U postgres
after_success:
- openssl aes-256-cbc -K $encrypted_8c222350cbad_key -iv $encrypted_8c222350cbad_iv
  -in .travis/travis_hlrdesk.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- git config --global user.email "travis@example.com"
- git config --global user.name "Travis CI Server"
- if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
  npm run deploy dev; fi
- if [ "$TRAVIS_BRANCH" == "staging" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
  npm run deploy staging; fi
- if [ "$TRAVIS_BRANCH" == "staging" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_TAG" ]; then
  npm run deploy production; fi
addons:
  ssh_known_hosts:
  - hlrdev.byu.edu
  - hlrdesk.hlrdev.byu.edu
  - hlrdesk-staging.byu.edu
  - hlrdesk.byu.edu
notifications:
  slack: hlrdev:GKTfYhesUBgIPeCNYx2qrKPP
