@media (max-width: 1200px) {
  #checkIn #checked-out-items {
    font-size: 0.85em;
    th, td {
      padding: 0.8em !important;
    }
  }
}

@media (max-width: 750px) {
  #checkIn #checked-out-items {
    font-size: 0.7em;
    th, td {
      padding: 0.8em !important;
    }
  }
}

#checkIn{
  background-color: $creme;

  .check-in-btn[disabled] {
    background-color:$disabledGrey;
    background:$disabledGrey;
    box-shadow:none;
    cursor: default;
  }

  tr td.due {
    &:not(.editing) {
      input[type=date], .due-extend.cancel, .due-extend.save {
        display: none;
      }
    }
    &.editing .due-extend.begin {
      display: none;
    }
  }

  tr td.due.editing .date-truncated {
    display: none;
  }
  $hover-shadow: black 1px 1px 0px;

  tr:hover .due-extend {
    visibility: visible;
    &:hover {
      text-shadow: $hover-shadow;
    }
  }
  .send-email-icon {
    visibility: hidden;
  }
  .send-email:hover {
    text-shadow: $hover-shadow;
    .send-email-icon {
      visibility: visible;
    }
  }

  .date-truncated {
    display: inline-block;
    vertical-align: center;
  }

  .due-extend {
    visibility: hidden;
    border: none;
    background: none;
    color: inherit;
    box-shadow: none;
    float: none;
    display: inline-block;
    vertical-align: center;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  #checked-out-items {
    margin-top: 4em;

    th {
      background-color:#1c305d;
      color:white;
      font-weight: 800;
    }

    td {
      word-break: break-all;
    }

    td, th {
      white-space: normal;
      padding: 1em;
      margin: 0;
      vertical-align: middle;
      text-align: left;
      cursor: pointer;
    }

  }

  .colWidth{
    width:10%;
  }

  .fa-plus-square-o {
    &:hover {
      color:red;
    }
    cursor:pointer;
  }

  #live-search {
    border:none;
    outline: 1px solid black;
    background:$creme;
    position: fixed;
    z-index: 5;
    padding-left: 0.5em;

    button, input {
      display: inline-block;
      vertical-align: center;
      margin-right: 1em;
    }
    button {
      margin-left: 0;
    }
  }

  td:hover {
    background:none;
    transition:none;
    color: white;
  }

  table{
    border-collapse:collapse;
    margin:0;
    padding: 0;
    cursor:pointer;
  }

  tr {
    background-color:#efefef;
    &:nth-child(odd) {
      background-color: $creme;
    }
    &:hover {
      background-color: $byuBlueHL;
      color:white;
    }
  }

  tr.overdue {
    color:$red;
    font-weight:bold;
    &:hover {
      background-color: $redHL;
      color:white;
    }
  }

  body {
    font-family: Arial, sans-serif;
    //color: $mainBlue;
    background: $creme;
  }

  tr.selected{
    background-color: $mainBlueHL;
    color:white;
      &:hover {
      background-color: $byuBlueHL;
    }
  }
}
