@charset "utf-8";

$mainBlue: #1e2a44;

$mainBlueHL: #697890;

$byuBlue: #1c305d;

$byuBlueHL: #3e5d90;

$mainGrey: #757474;

$mainGreyHL: #b3b1aa;

$disabledGrey: #cac9c9;

$creme: #f6f3ea;

$white: #fff;

$green: #7acc29;

$greenHL: #6EB825;

$red: #af2527;

$redHL: #9E2123

;

$gradBlue: linear-gradient(#3e5d90, #1e2a44, #3e5d90);

$gradGrey: linear-gradient(#b3b1aa, #757474, #b3b1aa);

$gradGreen: linear-gradient(#caeba9, #7acc29, #caeba9);

$gradRed: linear-gradient(#cf7c7d, #af2527, #cf7c7d);

.mainText {
	color: $byuBlue;
    font-family: sans-serif;
}