@mixin basic_panel($percent, $bgcolor, $color){
  display: flex;
  flex-direction: column;
  min-height: 400px;
  align-content: stretch;
  height:100%;
  text-align: center;
  font-family: Verdana, Arial, Sans-Serif;
  opacity: 0.99;
  float:left;
  width: $percent;
  background-color: $bgcolor;
  color: $color;
}

body
{
	background-size:cover;
	display: flex;
  background-color: black;
  background-image:  url('/resources/background.jpg') ;
  background-repeat:none;
  background-color: black;
}

button {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: #690000;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.8;
}

html, body
{
  height:100%;
  padding:0;
  margin:0;
  overflow:hidden;
}

section,table,thead
{
  height:100%;
  width:100%;
  overflow:auto;
}
