


section#languages {
  background-color: $creme;
  width: 100%;
  height: 100%;

  h1 {
    width: 90%;
    margin: 1em auto;
  }

  .select2 {
    margin-left: 10%;
  }

  form#lang-edit {
    opacity: 0;
    transition: opacity linear 0.3s;
    &.active {
      opacity: 1;
    }
  }

  form {
    margin: 2em 10%;
    .field-holder {
      display: block;
      margin-bottom: 1em;
      label, input {
        display: inline-block;
        vertical-align: middle;
      }
      label {
        width: 5em;
      }
    }
  }
}
