
#center_panel {
  @include basic_panel(75%,$creme,black);
  min-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#right_panel {
  @include basic_panel(25%,$mainGrey,#FFFFFF);
  min-width: 115px;
}

.message{
  min-height: 90px;
  height: 10%;
  background-color: #E5E5E5;
  text-align: left;
  color: black;
  margin-top:10px;
  font-family:  Arial;
  font-weight:bold;
}

.projects{
  font-weight:bold;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px ;
  text-align: center;
  color: #FFFFFF;
  margin:0px;
  align:right;
  background-color: $mainGrey;
  border: 0px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  font-size:1em;
  outline:none !important;
  &:hover {
    background-color: #b40000;
  }
}

#add_new{
  width:8em;
  display:inline;
}

.exit{
  font-weight:bold;
  width: .1em;
  height: .1em;
  border-radius:100%;
  background-color: $mainGreyHL;	
  align:center;
  border: 0px;
  float:right;
  &:hover {
    background-color: red;
  }
}

#msg{
  font-weight:bold;
  font-size:1.2em;
}

#tasks{
  font-weight:bold;
  font-size:1.2em;
}

.message_image{
  margin: .5em;
  clear: right;
  float:left;
}

.message_title{
  margin: .6em;
  position:relative;
  color: $byuBlue;
  clear: right;
  float:both;
}

.message_body{
  font-size:.8em;
  color: $byuBlue;
  margin: .5em;
}

.username_text {
  color: $mainGrey;
  font-size:.8em;
  margin: .2em;
}

input.msg{
  border-radius:0px;
  margin:5px;
  border: 0px solid;
  font-family:  Arial;
  font-weight:bold;
  padding:5px;
}
#m_title{
  line-height: 1.5em;
}

#m_body{
  width: calc(100% - 150px);
  line-height: 6em;
}

#black_bar{
  border-top: 2px solid grey;
}

#task_sort {
  cursor:pointer;
  overflow-y: auto;
  overflow-x: hidden;
}

.on_drag {
  height: 2em;
  line-height: 1.2em;
}

#icon_exit{
  font-size:1.2em;
  color: #b40000;
  cursor:pointer;
  float:right;
  margin:.7em;
}

