#caption {
  a {
    color: white;
  }
  text-align: right;
  color: white;
  font-size: 0.5em;
  position:absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  &.aboveLoader {
    z-index: 0;
  }
}

button{
  margin:.5em;
}

.lpanel{
  text-decoration: none;
  font-weight:bold;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px ;
  text-align: center;
  color: #FFFFFF;
  margin:0px;
  align:right;
  background-color: $mainBlue;
  border: 0px;
  font-size:1em;
  outline:none !important;
  &:hover {
    background-color: $mainBlueHL;
  }
}

#logo_container{
  border-bottom: solid white 2px;
  cursor:pointer;
}

#logout{
  border-top: solid white 2px;
  position:absolute;
  right:0;
  bottom:0;
}
#logo{
  padding:5px;
  width:90%;
}

#left_panel {
  @include basic_panel(20%,$mainBlue,#FFFFFF);
  min-width: 150px;
  max-width: 250px;
  position: relative;
}

#messageDisplay{
  display:none;
  padding-left:.4em;
}

.fa-envelope:before{
  color:#FA191C;
}

