@import 'patternLibrary';
@import 'colors';
$byu-blue: #2b3044;

@mixin basic_panel($percent, $bgcolor, $color){
  display: flex;
  flex-direction: column;
  min-height: 400px;
  align-content: stretch;
  height:100%;
  text-align: center;
  font-family: Verdana, Arial, Sans-Serif;
  opacity: 0.99;
  float:left;
  width: $percent;
  background-color: $bgcolor;
  color: $color;
}

html, body
{
  height:100%;
  padding:0;
  margin:0;
  overflow:hidden;
}
section
{
  height:100%;
  width:100%;
}

#left_panel {
  @include basic_panel(20%,$byu-blue,#FFFFFF);
  min-width: 150px;
  max-width: 250px;
  position: relative;
}


body
{
  background-size: cover;
  display:flex;
  background-image:  url('/resources/background.jpg') ;
  background-repeat:none;
  background-color: black;
}

@mixin panel-button {
  cursor:pointer;
  height: 6%;
  width: calc(100%-10px);
  border-radius: 5px ;
  background-color: #DBD9F2;
  text-align: center;
  color: #FFFFFF;
  margin:5px;
  align:right;
}

button{
  @include panel-button;
}

.lpanel{
  @include panel-button;
  text-decoration: none;
  font-weight:bold;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px ;
  text-align: center;
  color: #FFFFFF;
  margin:0px;
  align:right;
  background-color: #2b3044;
  border: 0px;
  font-size:1em;
  outline:none !important;
  &:hover {
    background-color: #8c8686;
  }
}

#logo_container{
  border-bottom: solid white 2px;
  cursor:pointer;
}

#logout{
  border-top: solid white 2px;
  position:absolute;
  right:0;
  bottom:0;
}
#logo{
  padding:5px;
  width:90%;
}

