$bg: #f6f3ea;
$blue:  #1c305d;
$red: red;
$green: green;
$highlight: #b3b1aa;
$disabledGray: #cac9c9;

#calendar
{
  position: relative;
  text-align: center;
  overflow:hidden;
  width: 98%;
  height: 93%;

#weekView, #dayView
{
  position: relative;
  text-align: inherit;
  width: inherit;
  height: inherit;
  min-width: inherit;
  min-height: inherit;
}

.hidden
{
  display: none;
}

button {
  padding: 0.8em;
}

#popup {
  position: relative;
  padding: 0.2em;
  text-align: left;
  width: 13em;
  height: 13em;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  select {
    margin-bottom: 0.2em;
  }
  input {
    margin-bottom: 0.2em;
  }
}
#popup.under:before {
  content:"";
  position: absolute;
  right: 5.55em;
  top: -0.85em;
  width: 0;
  height: 0;
  border-left: 0.9em solid transparent;
  border-right: 0.9em solid transparent;
  border-bottom: 0.9em solid rgba(255, 255, 255, 0.9);
}
#popup:not(.under):before {
  content:"";
  position: absolute;
  right: 5.55em;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0.9em solid transparent;
  border-right: 0.9em solid transparent;
  border-top: 0.9em solid rgba(255, 255, 255, 0.9);
}

#popupButtons {
  text-align: center;
}

#deleteButton {
  padding-left: 0px;
  padding-right: 0px;
}

#deleteButton, #saveButton {
  margin: 0.5em;
  margin-top: 0.2em;
  width: 4em;
}

tr
{
  background-color: $bg;
}

th:hover {
    background: none;
}

th {
    background: none;
    color: black;
    transition: none;
}

table.calendar
{
  border-collapse: collapse;
  background: $bg;
  padding: 1em;
  border: $bg;
  margin:1em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  background-color: $bg;
  width: inherit;
  height: inherit;
  table-layout: fixed;
}

th.time, th.blank
{
  width: 2.5em;
}

td
{
  border: 1px solid black;
  transition: background 0.3s;
}

table td:not(.selected):not(.disabled):not(.requested):not(.bookedByUser):hover
{
  background-color: $highlight;
  cursor: pointer;
}

table td.highlight
{
  background-color: $highlight;
  cursor: pointer;
}

table td.topBox
{
  border-bottom-width: 0px;
}

table td.middleBox
{
  border-top-width: 0px;
  border-bottom-width: 0px;
}

table td.bottomBox
{
  border-top-width: 0px;
}

.selected
{
  background-color: $blue;
  cursor: pointer;
}

.disabled
{
  background-color: $disabledGray;
  cursor: default;
  border-width: 0px;
}

.requested
{
  background-color: $green;
  cursor: default;
}
  
.bookedByUser
{
  background-color: #0000FF;
  cursor: default;
}

.pending
{
  background-color: yellow;
  cursor: default;
}
  
th
{
  &.day, &.room
  {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  &.time
  {
    border-right-style: solid;
    border-right-width: 1px;
  }
  font-weight: bold;
  vertical-align: middle;
}
}