@import 'admin';

#checkIn{
button{
  float:right;  
}

.check-in-btn[disabled] {
background-color:$disabledGrey;
background:$disabledGrey;
box-shadow:none;
cursor: default;
}

.extend-btn[disabled] {
background-color:$disabledGrey;
background:$disabledGrey;
box-shadow:none;
cursor: default;
}

.checkIN {
  padding:1em;
}
.checkIN th {
  padding:1em;
  font-family:arial;
  font-size:1em;
  background-color:#1c305d;
  color:white;
}

.colWidth{
  width:10%;
}

.checkIN tr {
  background-color:#efefef;
}

.fa-plus-square-o {
    &:hover {
    color:red;
  }
  cursor:pointer;
}

fieldset{
  border:none;
  background:$creme;
}

td {
  word-wrap: break-word;
  min-width:3.5em; 
  padding: 1em;
  margin:none; 
}

td:hover{
  background:none;
  transition:none;
}

table{
  border-collapse:collapse;
  height: 6em;
  margin:0;
  cursor:pointer;
}

th{
  text-align:left;
  cursor:pointer;
}

tr {
  //border: 1px solid #D9E4E6;
  max-height:3em;
  &:nth-child(odd) { 
    background-color: $creme;
  }  
  &:hover {
    background-color: $byuBlueHL;
    color:white;
  }
}


tr.overdue {
  color:$red;
  font-weight:bold;
  &:hover {
    background-color: $redHL;
    color:white;
  }
}

body {
  font-family: Arial, sans-serif;
  //color: $mainBlue;
  background: $creme;
}

tr.selected{
  background-color: $mainBlueHL;
  color:white;
    &:hover {
    background-color: $byuBlueHL;
  }
}

}
