@import 'admin';
#center_panel {
  @include basic_panel(75%,white,black);
  min-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#right_panel {
  @include basic_panel(25%,#8c8686,#FFFFFF);
  min-width: 115px;
}

#leaveMessage
{
  position: absolute;
  top: 20%;
  left :20%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.message{
  min-height: 90px;
  height: 10%;
  width: calc(100%-10px);
  background-color: #bfbdbe;
  text-align: left;
  color: black;
  margin-top:10px;
  font-family:  Arial;
  font-weight:bold;
  &:hover {
    background-color: #D7D7F7;
  }
}

.projects{
  font-weight:bold;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px ;
  text-align: center;
  color: #FFFFFF;
  margin:0px;
  align:right;
  background-color: #8c8686;
  border: 0px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  font-size:1em;
  outline:none !important;
  &:hover {
    background-color: #b40000;
  }
}

#add_new{
  height: 6%;
  width: 100px;
  border-radius: 5px ;
  border: 2px solid #bfbdbe ;
  background-color: white;
  text-align: center;
  color: black;
  margin:5px;
  align:right;
  border: 0px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

.exit{
  font-weight:bold;
  width: 25px;
  height: 25px;
  border-radius:100%;
  background-color: #b40000;
  align:center;
  border: 0px;
  float:right;
  &:hover {
    background-color: red;
  }
}

#msg{
  font-weight:bold;
  font-size:1.2em;
}

#tasks{
  font-weight:bold;
  font-size:1.2em;
}

.message_image{
  margin: .5em;
  clear: right;
  float:left;
}

.message_title{
  margin: .6em;
  position:relative;
  color: $byu-blue;
  clear: right;
  float:both;
}

.message_body{
  font-size:.8em;
  color: $byu-blue;
  margin: .5em;
}

.username_text {
  color: white;
  font-size:.8em;
  margin: .2em;
}

input{
  border-radius:0px;
  margin:5px;
  border: 0px solid;
  font-family:  Arial;
  font-weight:bold;
  padding:5px;
}
#m_title{
  line-height: 1.5em;
}

#m_body{
  width: calc(100% - 150px);
  line-height: 6em;
}

#black_bar{
  border-top: 2px solid grey;
}

#task_sort {
  cursor:pointer;
}

.on_drag {
  height: 2em;
  line-height: 1.2em;
}

