<section id="center_panel">
	<p id="msg">Messages</p>
<button id="add_new">Add New</button>

<div class="message">
<button class="exit">X</button>
Message 1
</div>

<div class="message">
<button class="exit">X</button>
Message 2
</div>

<div class="message">
<button class="exit">X</button>
Message 3
</div>

<div class="message">
<button class="exit">X</button>
Message 4
</div>



<button style="height:100px">Add Message
<div ng-app="" ng-controller="personController">

Title: <input type="text" ng-model="title"><br>
Text: <input type="text" ng-model="message_text"><br>
<br>
</div>

</section>
</button>
<section id="right_panel">
<p id="tasks">Tasks</p>
<button id="add_new" onClick="new_project()">Add New</button>
<button class="projects">Project 1</button>
<button class="projects">Project 2</button>
<button class="projects">Project 3</button>
<button class="projects">Project 4</button>
<button class="projects">Project 5</button>
<button class="projects">Project 6</button>
<button class="projects">Project 7</button>

	
</section>


