<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/calendar.css">
<script>
  <% var roomsHLRC =  ["Recording Studio", "1141A", "1141B", "1141C", "1141D"] %> <!--Should these be passed in from app.js?-->
  <% var roomsHTRSC = ["B160", "B164", "B181", "B013", "B161", "1161", "B003", "1131A", "1133A", "1133B"] %>
  window.rooms = {};
  window.rooms.HLRC = ("<%- (roomsHLRC.toString()) %>").split(",");
  window.rooms.HTRSC = ("<%- roomsHTRSC.toString() %>").split(",");
</script>
<body>
  <section id="calendar">
    <button id="switchView" class = "mainBtn">Change View</button><select id="resourceSelect">
      <option>HLRC</option>
      <option>HTRSC</option>
    </select>
    <div id="weekView">
      <button id="backBtn" disabled=true class = "disabledBtn">Back</button><button id="forwardBtn" class = "mainBtn">Forward</button><select id="displayRoomSelect">
        <% for (var i = 0; i < roomsHLRC.length; i++) { %>
          <option><%=roomsHLRC[i]%></option>
        <% } %>
      </select>
      <br>
      <table id="weekGrid" class="calendar">
        <% var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
        <% for (var i=7; i<=20; i++) { if (i == 7) { %>
          <tr>
            <th class="blank"></th>
              <% for (var k=0; k<days.length; k++) { %>
              <th class="day" id="<%= new Date(date.getTime()+((k)-(date.getDay()-1))*86400000).toDateString() %>">
                <%= days[k]+" "+new Date(date.getTime()+((k)-(date.getDay()-1))*86400000).getDate() %>
              </th>
            <% } %>
          </tr>
      <% } else { %>
        <tr>
          <% for (var j=0; j<=6; j++) { if (j==0) { %>
            <th class="time"><%= (i!=7)?((i<=12)?i:i-12):"" %>:00</th>
          <% } else { %>
            <td id= "<%=days[j-1]+" "+i%>" data-time="<%=i%>" data-day="<%=j%>" ></td>
          <% } } %>
        </tr>
      <% } } %>
      </table>
    </div>
    <div id="dayView" class="hidden">
      <button id="date"><%= date.toDateString() %></button>
      <button id="previousDay" disabled=true class = "disabledBtn">Previous Day</button><button id="nextDay" class = "mainBtn">Next Day</button>
      <table id="dayGrid" class="calendar">
        <% for (var i=7; i<=20; i++) { if (i == 7) { %>
          <tr>
            <th class="blank"></th>
              <% for (var k=0; k<roomsHLRC.length; k++) { %>
              <th class="room">
                <%= roomsHLRC[k] %>
              </th>
            <% } %>
          </tr>
      <% } else { %>
        <tr>
          <% for (var j=0; j<=roomsHLRC.length; j++) { if (j==0) { %>
            <th class="time"><%= (i!=7)?((i<=12)?i:i-12):"" %>:00</th>
          <% } else { %>
            <td id= "<%=roomsHLRC[j-1]+" "+i%>" data-time="<%=i%>" data-room="<%= roomsHLRC[j-1] %>"></td>
          <% } } %>
        </tr>
      <% } } %>
      </table>
    </div>
    <div id="popup" style="position: absolute;" class="hidden">
      <%if (isAdmin) { %> User: <input id=userInput maxlength=8 size=8 value=<%=user%>></input><br> <% }; %>
      Room: <select id="roomSelect">
        <option>Recording Studio</option>
        <option>1141A</option>
        <option>1141B</option>
        <option>1141C</option>
        <option>1141D</option>
      </select><br>
      Date: <select id="dateSelect">
        <% for (var i = 0; i <= 14+(6-date.getDay()); i++) { %>
          <% var newDate =  new Date(date.getTime()+86400000*i) %>
          <% if (newDate.getHours() >= 21) { %>
            <% newDate.setTime(newDate.getTime() + 86400000); %>
          <% } %>
          <% if (newDate.getDay() !== 0) { %>
            <option> <%= newDate.toDateString() %> </option>
          <% } %>
        <% } %>
      </select><br>
      Time: <select id="timeSelect">
        <% for (var i = 8; i<=20; i++) { %>
          <option value=<%= i %>><%= (i!=7)?((i<=12)?i:i-12):"" %>:00</option>
        <% } %>
      </select><br>
      Duration: <select id="durationSelect">
        <option value="1">1 Hour</option>
        <option value="2">2 Hours</option>
        <option value="3">3 Hours</option>
      </select><br>
      Event Name: <input id=nameInput maxlength="20"></input><br>
      <div id="popupButtons">
        <button id="deleteButton" class="redBtn">Cancel</button><button id="saveButton" class="greenBtn">Save</button>
      </div>
    </div>
  </section>
</body>
<template id="dayViewHLRC">
  <div id="dayView" class="hidden">
    <button id="date"><%= date.toDateString() %></button>
    <button id="previousDay" disabled=true class = "disabledBtn">Previous Day</button><button id="nextDay" class = "mainBtn">Next Day</button>
    <table id="dayGrid" class="calendar">
      <% for (var i=7; i<=20; i++) { if (i == 7) { %>
        <tr>
          <th class="blank"></th>
            <% for (var k=0; k<roomsHLRC.length; k++) { %>
            <th class="room">
              <%= roomsHLRC[k] %>
            </th>
          <% } %>
        </tr>
    <% } else { %>
      <tr>
        <% for (var j=0; j<=roomsHLRC.length; j++) { if (j==0) { %>
          <th class="time"><%= (i!=7)?((i<=12)?i:i-12):"" %>:00</th>
        <% } else { %>
          <td id= "<%=roomsHLRC[j-1]+" "+i%>" data-time="<%=i%>" data-room="<%= roomsHLRC[j-1] %>"></td>
        <% } } %>
      </tr>
    <% } } %>
    </table>
  </div>
</template>
<template id="dayViewHTRSC">
  <table class="calendar">
    <% for (var i=7; i<=20; i++) { if (i == 7) { %>
      <tr>
        <th class="blank"></th>
          <% for (var k=0; k<roomsHTRSC.length; k++) { %>
          <th class="room">
            <%= roomsHTRSC[k] %>
          </th>
        <% } %>
      </tr>
  <% } else { %>
    <tr>
      <% for (var j=0; j<=roomsHTRSC.length; j++) { if (j==0) { %>
        <th class="time"><%= (i!=7)?((i<=12)?i:i-12):"" %>:00</th>
      <% } else { %>
        <td id= "<%=roomsHTRSC[j-1]+" "+i%>" data-time="<%=i%>" data-room="<%= roomsHTRSC[j-1] %>"></td>
      <% } } %>
    </tr>
  <% } } %>
  </table>
</template>
<script>
  window.now = <%- date.getTime() %>;
  window.isAdmin = <%= isAdmin %>;
  window.allEvents = <%- JSON.stringify(allCalendarEvents) %>;
  window.userName = "<%- user %>";
</script>
<script src="/js/cal.js"></script>

