<!--<!DOCTYPE html>
<html>-->
    <link rel="stylesheet" type="text/css" href="\css\calendar.css">
    <section id="calendar">

        <table id="grid">
            <% for (var i=7; i<=20; i++) { %>
                <% if (i == 7) { %>
                    <% var days = ["", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
                    <% for (var k=0; k<=6; k++) { %>
                        <th><%= days[k] %></th>
                    <% } %>
                <% } else { %>
                    <tr>
                        <% for (var j=0; j<=6; j++) { %>
                            <% if (j==0) { %>
                                <th><%= (i!=7)?((i<=12)?i:i-12):"" %>:00</th>
                            <% } else { %>
                                <td id= "<%=i%>, <%=days[j]%>" >
                            <% }%>
                        <% } %>
                    </tr>
                <% } %>
            <% } %>
        </table>

    </section>
<!--</html>-->

