<section id="checkIn">
<fieldset id=live-search class=keepTop>
  <input type="text" class="text-input" id="filter" value="" placeholder="Search"/>
  <span id="filter-count"></span>
  <button class="mainBtn check-in-btn" disabled>Check In</button>
  <button class="mainBtn" id="add">Select All</button>
  <button class="mainBtn" id="remove">Select None</button>
</fieldset>
<table id=checked-out-items class="checkIN tablesorter">
  <thead>
    <tr>
      <th scope=col><i class="fa fa-sort"></i> Call Number</th>
      <th scope=col><i class="fa fa-sort"></i> Item</th>
      <th scope=col class="colWidth"><i class="fa fa-sort"></i> Net ID</th>
      <th scope=col class="colWidth"><i class="fa fa-sort"></i> Name</th>
      <th scope=col class="colWidth"><i class="fa fa-sort"></i> Email</th>
      <th scope=col class="colWidth"><i class="fa fa-sort"></i> Phone</th>
      <th scope=col class="colWidth"><i class="fa fa-sort"></i> Notes</th>
      <th scope=col class="colWidth col-due"><i class="fa fa-sort"></i> Due</th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(item, index) { %>
      <tr
        id='<%= (item.due + item.call + item.owner + item.copy).replace(/\s+/g,'') %>'
        data-due='<%= item.due %>'
        data-call='<%= item.call %>'
        data-patron='<%= item.owner %>'
        data-copy='<%= item.copy %>'
        class='<%= item.overdue? "overdue" : "" %>'
      >
        <td><%= item.call_number %></td>
        <td><%= item.name %></td>
        <td><%= item.owner %></td>
        <td><%= user[item.owner].name %></td>
        <td>
          <a class=send-email title="Send reminder email"><%= user[item.owner].email %>
          <i class='send-email-icon fa fa-envelope-o'></i></a>
        </td>
        <td><%= user[item.owner].telephone %></td>
        <td><%= item.notes || "" %></td>
        <td class=due data-date="<%=item.due.getTime()%>">
          <button class="due-extend begin fa fa-calendar" title=Extend></button>
          <button class="due-extend cancel">Cancel</button>
          <button class="due-extend save">Save</button>
          <input class='edit' type=date value="<%= moment(item.due).format("YYYY-MM-DD")%>" min="<%=
            moment().format("YYYY-MM-DD")
          %>">
          <span class="date-truncated"><%= moment(item.due).format("MMM D") %></span>
          </span>
        </td>
        <!--<td ><i class="fa fa-plus-square-o"></i></td>-->
      </tr>
    <% }); %>
  </tbody>
</table>
<script>window.HLRDESK.init.checkin();</script>
</section>
<template id='send-reminder-email-warning'>
  <header>Send Reminder Email</header>
  <p>Would you like to send a reminder email to <span class=netid></span> about
     their due date? Remember, patrons automatically receive an email the day before
     and the day after items are due. Be prudent!</p>
  <input type=submit value='Submit' class='mainBtn send-email submit'>
</template>
