<section id=check-out><!--need to change this-->
  <form id=check-out-form class=check-out-form>
    <label class=check-out-main-label for=editCatalog-search>Enter an item or call number</label>
    <input id=editCatalog-search class=check-out-search autofocus incremental name=search type=search placeholder=" The Rock - Starring Nicholas Cage, NOT THE BEES!, ERS-ELI-F14">
  </form>
  <button id=newItem class="mainBtn">Add Item</button>
  <div class=check-out-inventory>
      <div id=editCatalog-search-results>
        <h2>Results</h2>
      </div>
    </div>
  </div>
</section>

<template id=editItem>
  <header id='head'><span id=headText>Edit Item</span></header>
  <form>

<table >
  <tr>
    <td><label for=callNumber>Call Number</label></td>
     <td><input id="callNumber" required></td>
  </tr>
    <tr>
    <td><label for=title>Title</label></td>
     <td><input id="title" required></td>
  </tr>
  <tr>
    <td><label for=mediaType>Media Type <br><span id=helper> (Hold ctrl for multiple)</span></label></td>
    <td>
      <select multiple id=media>
      <% media_types.rows.forEach(function(rows){%>
      <option value="<%=rows.medium %>"><%=rows.medium %></option><%});%>
      </select>
    </td>
  </tr>
    <tr>
    <td><label for=language>Language <br><span id=helper> (Hold ctrl for multiple) <br>Type in box to search faster</span></label></td>
    <td>
      <select multiple id="language">
      <% lang.rows.forEach(function(rows){%>
      <option value="<%=rows.code%>"><%=rows.name %></option><%});%>
      </select>
    </td>
  </tr>
    <tr>
    <td><label for=quantity>Quantity</label></td>
     <td><input id="quantity" type=number min=0 max=10000 required></td>
  </tr>
  <tr>
    <td><label for=checkoutLength>Checkout Period <br><span id=helper>In Days</span></label></td>
    <td><input  id="checkoutLength" type=number min=0 max=366 required ></td>
  </tr>
  <tr>
    <td><label for=onReserve>Reserve Item</label> </td>
    <td><input type=checkbox id="onReserve"></td>
  </tr>
    <tr>
    <td><label for=duplicatable>Duplicatable</label></td>
    <td><input type=checkbox id="duplicatable"></td>
  </tr>
  <tr>
    <td><label for=HLROnline>On Hummedia</label></td>
    <td><input type=checkbox id=HLROnline></td>
  </tr>
  <tr>
    <td><label for=dateAdded>Date Added</label></td>
    <td><input type=date id="dateAdded" disabled=disabled></td>
  </tr>
    <tr>
    <td><label for=editedBy>Last Edited By</label></td>
    <td><input id="editedBy" disabled=disabled></td>
  </tr>
  <tr>
    <td><label for=dateEdited>Date Edited</label></td>
    <td><input id="dateEdited" disabled=disabled></td>
  </tr>
    <tr>
    <td><label for=notes>Notes/Alert Field</label></td>
    <td><input id="notes"></td>
  </tr>
</table>
      <button class=redBtn id='delete-item'></button>
      <button id='save-item' class="mainBtn Item">Save</button>

    </div>
  </form>
</template>
<script>
</script>


<script>window.HLRDESK.init.editCatalog();</script>
