<section id="extras" >
    <center>
        <div id="extras_container">
            <a class="lpanel" href=/mkadmin data-title=Make_Admin>Manage Admins</a>
            <a class="lpanel" href=/languages data-title=Languages data-init=languages>Languages</a>
            <a class="lpanel" href=/media data-title=Media data-init=media>Media</a>
            <a class="lpanel" href=# data-title="Patron Info">View Patron Info</a>
            <a class="lpanel" href=/viewHistory data-title=View History data-init=viewHistory>View History</a>
            <a class="lpanel" href=# data-title="Confirm Reservations">Confirm Reservations</a>
            <a class="lpanel" href=# data-title="Email for Late Items">Email Patrons with Overdue Items</a>
            <a class="lpanel" href=# data-title="Edit Prices">Edit Prices</a>
            <a class="lpanel" href=# data-title="Loading Screen">See Loading Animation one more time</a>
        </div>
    </center>
</section
