<section id="extras" >

    <center>
        <div id="extras_container">
            <a class="lpanel" href=/mkadmin data-title=Make_Admin>Make New Admin</a>
            <a class="lpanel" href=# data-title="Patron Info">View Patron Info</a>
            <a class="lpanel" href=# data-title="Item History">View Item History</a>
            <a class="lpanel" href=# data-title="Confirm Reservations">Confirm Reservations</a>
            <a class="lpanel" href=# data-title="Email for Late Items">Email Patrons with Overdue Items</a>
            <a class="lpanel" href=# data-title="Edit Prices">Edit Prices</a>
            <a class="lpanel" href=# data-title="Loading Screen">See Loading Animation one more time</a>
        </div>
    </center>
</section
