<!DOCTYPE html>
<html>

<head>
 <title><%= title %></title>
<!--Include jQuery-->
<link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" sizes="180x180">
<link rel="icon" href="/android-chrome-36x36.png" sizes="36x36">
<link rel="icon" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48">

<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js'></script>

<script type='text/javascript' src='/js/admin.js'></script>
<script src="/socket.io/socket.io.js"></script>

<link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<section id="left_panel">
<div id="logo_container"><img id="logo" alt="Logo" src="/resources/logo.png"/></div>
<a class="lpanel" href=/checked-out data-title="Check In">Check In</a>
<a class="lpanel">Edit Catalog</a>
<a class="lpanel" href="https://hummedia.byu.edu/api/v2//account/login?r=https://hummedia.byu.edu">Hummedia</a>
<a class="lpanel" data-title=Messages href="/message?">Messaging</a>
<a class="lpanel" href=/calendar data-title=Calendar>Calendar</a>
<a class="lpanel" id="logout" href="/logout">Sign Out</a>

</section>
<section id="loader">
<%- body %>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', "<%=process.env.GAID %>", 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>
<script>
$(".lpanel[data-title]").click(function loadMsg(ev){
  ev.preventDefault();
  history.pushState(null, $(this).data("title"), $(this).attr("href"));
  $( "#loader" ).load( $(this).attr("href") );
});
</script>


</body>
</html>

