<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<body>
<div id="login">
	<a href="https://cas.byu.edu/cas/login?service=http://dontfireian.byu.edu:8080/signin"><button>Login</button></a>
	<p>or</p>
	<button onClick="reserveRoom()">Request a Room Reservation</button>


<audio  autoplay>
  <source src="http://www.mediacollege.com/downloads/sound-effects/star-trek/tos/music/Opening_Remastered.mp3" type="audio/mp3">
  Star trek
</audio>

</div>
</body>
</html>
