<section id=media>
  <div id=media-bg></div>
  <div id=media-main>
    <form id=media-add-form method=post>
      <input type=text name=new-media placeholder=Elcaset><input class=mainBtn type=submit name=create value="Create Medium">
      <ul>
        <% media.forEach(function(medium) { %>
          <li  value="<%= medium.medium %>" >
            <button type=submit name=delete value="<%=medium.medium%>" class=closeBtn></button><%= medium.medium %>
            <input  alt="Fine per day" type="number" min="0.00" step="0.01" max="25.00" value=<%=medium.fine_amount%> placeholder=<%= medium.fine_amount%> ></input>
           <!-- <%= medium.medium %>-->
          </li>
        <% }) %>
      </ul>
      <input type=hidden name=csrf value="<%= csrf %>">
    </form>
  </div>
</section>
<script>window.HLRDESK.init.media();</script>
