<section id="admin_box">
  <form id="admin_form" method="POST">
    <input name="user" id='admin_name' type='text' placeholder="Admin's NetID"></input>
    <input name="user_phone" id='admin_phone' type='text' placeholder="Phone Number"></input>
    <input name="user_email" id='admin_email' type='text' placeholder="Email Address"></input>
    <button name="save" type="submit" id="saveButton" class="greenBtn">Save</button>
    <input type="hidden" id="csrf" value="<%=csrf%>" name="csrf">
    <input type="hidden" value="add" name="action">
  </form>

  <ul id="admin_list">
    <table>
      <th>Name</th>
      <th>NetId</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Remove</th>
      <% allAdminsFromDB.rows.forEach(function(admin, x) { %>
        <!--This is for toggling to see all users in the database, functionality for this coming soon... -->
        <% if ( admin.admin ) { %>
          <li>
            <tr>
            <td><%= namesFromDB[x] ? namesFromDB[x] : '-' %></td>
            <td><%= admin.netid %></td>
            <td><%= admin.telephone ? admin.telephone : '-' %></td>
            <td> <a href="mailto:<%= admin.email %>?Subject=HLR" target="_top"><i title="<%= admin.email %>" class="fa fa-envelope-o" aria-hidden="true"></i></a> </td>
            <td><form method=post>
              <button type='submit' class=redBtn  ><i  class="fa fa-times" aria-hidden="true"></i></button>
              <input type='hidden' name='user' value="<%=admin.netid%>">
              <input type='hidden' value='remove' name='action'>
              <input type='hidden' id = 'csrf' value='<%=csrf%>' name='csrf'>  </form>
            </td>
          </tr>
        </li>
      <% } %>
    <% }); %>
  </table>
  </ul>
</section>
<script>window.HLRDESK.init.mkadmin();</script>
