<section id="messages">
<section id="center_panel">
<p id="msg">Messages</p>
<button id="add_new" class="message-add mainBtn">Add New</button>
<div id="black_bar"></div>
<div>
<div id="add_message"></div>
<div id='all_m'>
<% all_messages.rows.forEach(function(rows){%>
<div class="message" id='message_<%=rows.message_id%>' ><img class="message_image" src="http://www.placecage.com/g/<%=rows.message_id + 80%>/<%=rows.message_id + 80%>" alt="Message #<%=rows.message_id %>" width="75" height="75">
<i class="fa fa-times message-delete" id='icon_exit' data-message-id="<%=rows.message_id%>"></i>
<text class="message_title"><%=rows.title %></text>
<text class="message_body"><%=rows.message_body %></text>
<br><br> <div class="username_text">Created By: <%=rows.username %></div>
</div>
<%});
%>
</div>
</div>
</section>

<section id="right_panel">
<p id="tasks">Tasks</p>
<button id="add_new" class="mainBtn task-add">Add New</button>
<div id="add_task"></div>
<form id="task_sort">
<% all_tasks.rows.forEach(function(rows){%>
<div class="projects" data-priority='<%=rows.priority%>' id='<%=rows.task_id%>' ><%=rows.task %></div>
<%});
%>
</form>
</section>
</section>
<script>window.HLRDESK.init.messages();</script>
