<link rel="stylesheet" type="text/css" href="/css/msg.css">
<section id="center_panel">
	<p id="msg">Messages</p>
<button id="add_new" onclick="newMsg()" >Add New</button>


<div id="black_bar"></div>
<div>
<div id="add_message"></div>

<% all_messages.rows.forEach(function(rows){%>
<div class="message" id='message_<%=rows.message_id%>' ><img class="message_image" src="http://www.placecage.com/gif/1<%=rows.message_id%>/1<%=rows.message_id %>" alt="Message #<%=rows.message_id %>" width="75" height="75">
<button class="exit" onclick="delMsg(<%=rows.message_id%>)">X</button>
<text class="message_title"><%=rows.title %></text>
<text class="message_body"><%=rows.message_body %></text>
<br><br> <div class="username_text">Created By: <%=rows.username %></div>
</div>
<%});
%>

</div>
<script>
function newMsg() {
    var msg_form = "<div  class='message'><img class='message_image' src='http://www.placecage.com/gif/100/100' alt='New Message' width='100' height='100'>"
    +"<button class='exit' onclick='removeDraft()'>X</button>"
    +"<form action=''>"
    +"<input id='m_title' autocomplete='off' placeholder='Title' required></input><br>"
    +"<input id='m_body' autocomplete='off' placeholder='Message' required></input><br>"
    +"<button id='add_new'>Submit</button><br><br>"
    +"</form></div>";
    document.getElementById("add_message").innerHTML = msg_form;
    var socket = io();
    $('form').submit(function(){
        socket.emit('write message', $('#m_title').val(), $('#m_body').val());
        $('#m_title').val('');
        $('#m_body').val('');
        $('.message').append($("<div class='message'></div>").text(title, msg));
    return false;
      });
   socket.on('write message', function(title, msg){
   document.getElementById("add_message").innerHTML = '';
    });
}
</script>

<script>
function delMsg(message_number) {
    var del = confirm("Do you really really want to delete this message?");
    if (del == true){
        var socket = io();
        var del = document.getElementById("message_"+message_number);
            del.parentNode.removeChild(del);
            socket.emit('delete message', message_number);
            alert("Message deleted")
    }
}
</script>

<script>
function removeDraft() {
    var del = confirm("Do you really really want to delete this draft?");
    if (del == true){document.getElementById("add_message").innerHTML = '';}
}
</script>

</section>
<section id="right_panel">
<p id="tasks">Tasks</p>
<button id="add_new" onClick="new_project()">Add New</button>
<button class="projects">Project 1</button>
<button class="projects">Project 2</button>
<button class="projects">Project 3</button>
<button class="projects">Project 4</button>
<button class="projects">Project 5</button>
<button class="projects">Project 6</button>
<button class="projects">Project 7</button>

</section>

