<section id=check-out>
  <form id=check-out-form class=check-out-form>
    <label class=check-out-main-label for=check-out-search>Enter an item or call number</label>
    <input id=check-out-search class=check-out-search autofocus incremental type=search placeholder="Nicolas Cage Collection, Vol. XII">
  </form>
  <div class=check-out-inventory>
    <div id=check-out-search-results>
      <h2>Results</h2>
      <small class=results-count></small>
      <p class=help>Try a more general search.</p>
      <ul class=satchel></ul>
    </div>
    <div id=check-out-search-selection>
      <h2><span>Satchel<span></h2>
      <ul class=satchel></ul>
      <button class='check-out-btn greenBtn' disabled=disabled>Check Out</button>
    </div>
  </div>
</section>

<template id=check-out-prompt>
  <header>Check out</header>
  <table class='inventory check-out-prompt'>
    <thead><tr><th>Call</th><th>Title</th></thead>
    <tbody></tbody>
  </table>
  <form>
    <label for=check-out-due>Due Date:</label><input type=date name=due required>
    <label for=check-out-netid>Patron's Net ID:</label><input type=text name=netid required>
    <label for=check-out-email>Patron's Email:</label><input type=email name=email>
    <label for=check-out-phone>Patron's Phone:</label><input type=email name=email>
  </form>
  <button class='redBtn close check-out-prompt'></button>
  <button class='mainBtn check-out-prompt submit'>Submit</button>
</template>

<template id=tpl-satchel-li>
<li>
  <button class=closeBtn></button>
  <div class=details>
    <span class=title></span>
    <span class=call></span>
  </div>
</li>
</template>

<script>window.HLRDESK.init.checkout();</script>
