<section id="checkIn">
<div id="live-search" class="keepTop">
    <fieldset>
        <input type="text" class="text-input" id="filter" value="" placeholder="Search"/>
        <span id="filter-count"></span>
        <button class="mainBtn check-in-btn" disabled>Check In</button>
        <button class="mainBtn extend-btn" disabled>Extend</button>
        <button class="mainBtn" id="add">Select All</button>
        <button class="mainBtn" id="remove">Select None</button>
    </fieldset>
</div>
<table id=checked-out-items class="checkIN tablesorter">
  <thead>
    <tr>
      <th scope=col><i class="fa fa-sort"></i> Call Number</th>
      <th scope=col><i class="fa fa-sort"></i> Name</th>
      <th scope=col class="colWidth"><i class="fa fa-sort"></i> Net ID</th>
      <th scope=col class="colWidth"><i class="fa fa-sort"></i> Notes</th>
      <th scope=col class="colWidth col-due"><i class="fa fa-sort"></i> Due</th>
      <!--<th scope=col>More</th>-->
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(item, index) { %>
      <tr
        id='<%= (item.due + item.call + item.owner + item.copy).replace(/\s+/g,'') %>'
        data-due='<%= item.due %>'
        data-call='<%= item.call %>'
        data-patron='<%= item.owner %>'
        data-copy='<%= item.copy %>'
        class='<%= item.overdue? "overdue" : "" %>'
      >
        <td><%= item.call_number %></td>
        <td><%= item.name %></td>
        <td><%= item.owner %></td>
        <td><%= item.notes || "" %></td>
        <td data-date="<%=item.due.getTime()%>"><%= moment(item.due).format("MMM D") %></td>
        <!--<td ><i class="fa fa-plus-square-o"></i></td>-->
      </tr>
    <% }); %>
  </tbody>
</table>
<script>window.HLRDESK.init.checkin();</script>
</section>

