<table>
  <thead>
    <tr>
      <td><input type=checkbox></td>
      <th scope=col>Call Number</th>
      <th scope=col>Name</th>
      <th scope=col>Net ID</th>
      <th scope=col>Due</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(item, index) { %>
      <tr>
        <td><input type=checkbox></td>
        <td><%= item.call_number %></td>
        <td><%= item.name %></td>
        <td><%= item.owner %></td>
        <td><%= moment(item.due).format("MMM D") %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
