<section id=check-out>
  <form id=check-out-form class=check-out-form>
    <label class=check-out-main-label for=check-out-search>Enter an item or call number</label>
    <input id=check-out-search class=check-out-search autofocus incremental name=search type=search placeholder="Nicolas Cage Collection, Vol. XII">
  </form>
  <div class=check-out-inventory>
    <div id=check-out-search-results>
      <h2>Results</h2>
    </div>
    <div id=check-out-search-selection>
      <h2><span>Satchel<span></h2>
      <ul class=satchel></ul>
      <button class='check-out-btn greenBtn' disabled=disabled>Check Out</button>
    </div>
  </div>
</section>

<template id=check-out-prompt>
  <header>Check out</header>
  <form class='check-out-verify check-out-prompt' method=POST>
    <ol class='inventory check-out-prompt'></ol>
    <div class='check-out-input-container'>
      <label for=check-out-netid>Patron's Net ID</label><input id=check-out-netid type=text name=netid required>
      <label for=check-out-email>Patron's Email</label><input id=check-out-email type=email name=email>
      <label for=check-out-phone>Patron's Phone</label><input id=check-out-phone placeholder="801-555-1234" type=tel name=tel>
      <input type=submit value='Submit' class='mainBtn check-out-prompt submit'>
    </div>
  </form>
</template>

<template id=tpl-checkout-popup-li>
<li class=ready-for-checkout>
  <span class=title></span>
  <span class=call></span>
  <span class=copy></span>
  <span><input class=due type=date title='Date Due: YYYY-MM-DD' placeholder='YYYY-MM-DD' name=due required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"></span> <!-- TODO: implement min attribute for date -->
  <input class=input-copy type=hidden name=copy>
  <input class=input-call type=hidden name=call>
</li>
</template>

<script>window.HLRDESK.init.checkout();</script>
