<link rel="stylesheet" type="text/css" href="/css/checkIN.css" />
<form id="live-search" action="" class="styled" method="">
    <fieldset>
        <input type="text" class="text-input" id="filter" value="" />
        <span id="filter-count"></span>
    </fieldset>
</form>
<table id=checked-out-items class="checkIN tablesorter">
  <thead>
    <tr>
      <td><input type=checkbox></td>
      <th scope=col>Call Number</th>
      <th scope=col>Name</th>
      <th scope=col>Net ID</th>
      <th scope=col class=col-due>Due</th>
      <td colspan=2></td>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(item, index) { %>
      <tr class='<%= item.overdue? "overdue" : "" %>'>
        <td><input type=checkbox></td>
        <td><%= item.call_number %></td>
        <td><%= item.name %></td>
        <td><%= item.owner %></td>
        <td data-date="<%=item.due.getTime()%>"><%= moment(item.due).format("MMM D") %></td>
        <td><input type=button value='Extend'></td>
        <td><input type=button value='Check In'></td>
      </tr>
    <% }); %>
  </tbody>
</table>
